<!DOCTYPE>
<html ng-app="school-office" ng-cloak>
	<head>
		<link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="style/style.css">
		<title>School Office</title>
	</head>
	<body ng-controller="mainController">
		<div id="main-view" layout="row">
			<div id="main-menu" flex="15" class="mdl-color--blue-grey-800" ng-controller="MenuController">
				<div>
					<md-card class="main-menu-header mdl-color--blue-grey-900">
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">{{user}}</span>
								<span class="md-subhead">{{role_name}}</span>
							</md-card-title-text>
							<md-card-title-media>
								<div class="md-media-sm card-media">
									<img src="images/user.png">
								</div>
							</md-card-title-media>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-click="logout()" ng-if="user">
								<md-icon md-font-icon="material-icons"> exit_to_app</md-icon>
								Logout
							</md-button>
						</md-card-actions>
					</md-card>
					<div class="main-menu-body">
						<md-list>
							<md-list-item class="mdl-color--blue-grey-800" ng-repeat="item in menu" ng-href="#{{item.href}}">
								<md-icon md-font-icon="material-icons"> {{ item.icon }}</md-icon>
								<p>{{ item.title }}</p>
							</md-list-item>
						</md-list>
					</div>
				</div>
			</div>
			<div flex="85" ng-view class="main"></div>
		</div>
		<!--libs-->
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="bower_components/ng-table/dist/ng-table.js"></script>
		<script type="text/javascript" src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
		<!--main-->
		<script type="text/javascript" src="src/app.js"></script>
		<script type="text/javascript" src="src/services/authService.js"></script>
		<script type="text/javascript" src="src/services/restService.js"></script>
		<script type="text/javascript" src="src/services/colorService.js"></script>
		<script type="text/javascript" src="src/menuController.js"></script>
		<script type="text/javascript" src="src/mainController.js"></script>
		<script type="text/javascript" src="src/admin/adminHomeController.js"></script>
		<script type="text/javascript" src="src/admin/adminStudentController.js"></script>
		<script type="text/javascript" src="src/admin/adminCourseController.js"></script>
		<script type="text/javascript" src="src/admin/adminSemesterController.js"></script>
		<script type="text/javascript" src="src/student/studentHomeController.js"></script>
	</body>
</html>
