<md-content  layout-xs="row" layout="row"  ng-cloak>
    <table class="mdl-data-table so-course-schedule-table">
        <tbody>
            <tr ng-repeat="day in scheduled">
                <td class="so-weekday-header">
                    <h4>{{weekday[$index]}}</h4>
                </td>
                <td class="so-weekday-body">
                    <ul dnd-list="day">
                        <li ng-repeat="schedule_item in day" layout=row>
                            <span flex="30">{{schedule_item.name}}</span>
                            <span flex="50" layout="row">
                                {{schedule_item.start_time}} - {{schedule_item.end_time}}
                            </span>
                            <span flex="20" layout="row">
                                <md-button ng-click="cancel(day,schedule_item,$index)">Cancel</md-button>
                            </span>
                        <li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</md-content>
