<md-content class="md-padding" layout-xs="column" layout="column"  ng-cloak>
	<md-card class="school-office-main-card">
		<md-card-title>
		    <md-card-title-text>
		        <span class="md-headline">Semester</span><br>
		    </md-card-title-text>
			<md-card-title-media>
				<div class="md-media-sm card-media">
					<md-icon md-font-icon="material-icons"> schedule</md-icon>
				</div>
			</md-card-title-media>
    	</md-card-title>
		<md-card-content>
			<p>
				<table ng-table="semestersTable" class="mdl-data-table mdl-data-table--selectable  school-office-main-table">
					<tr ng-repeat="semester in $data">
						<td title="'id'" filter="{ id: 'text'}" sortable="'id'">
							{{semester.id}}
						</td>
                        <td title="'Semester'" filter="{ semester: 'text'}" sortable="'semester'">
							{{semester.semester}}
						</td>
				        <td title="'Start'" filter="{ surname: 'text'}" sortable="'surname'">
				            {{semester.start}}
				        </td>
						<td title="'End'" filter="{ credit: 'text'}" sortable="'credit'">
				            {{semester.end}}
				        </td>
				        <td>
				            <!--<md-button class="md-raised" >Schedule exams</md-button>-->
							<md-button class="md-raised" ng-href="#/adminSemesters/schedule/{{semester.id}}">Schedule course</md-button>
							<md-button class="md-icon-button md-accent" ng-click="openUpdate(semester)">
				        		<md-icon md-font-icon="material-icons">edit</md-icon>
				        	</md-button>
				        </td>
						<td title="'Open for register?'">
							<md-switch ng-model="semester.open_for_register" ng-click="openCloseRegister(semester)" aria-label="open_for_register">
							</md-switch>
						</td>
				    </tr>
				</table>
			</p>
		</md-card-content>
	</md-card>
	<div layout="row">
		<div flex=25>
			<md-button class="md-raised mdl-color--green-100" ng-click="openCreation()">
				<md-icon md-font-icon="material-icons">add</md-icon>Add a new Semester
			</md-button>
		</div>
	</div>
</md-content>
