<md-content class="md-padding" layout-xs="column" layout="column" ng-cloak>
    <div layout="row">
        <h2><span ng-hide="edit">Register a </span> Student <span ng-show="edit">: {{student.firstname}} {{student.lastname}}</span></h2>
    </div>

    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Student Detail">
        <md-content class="md-padding">
            <form name="studentForm" ng-submit="submit()">
                <div layout-gt-xs="row">
                  <md-input-container ng-if="edit" flex=70 class="md-block">
                    <label>Student Number</label>
                    <input ng-model="student.student_number" disabled>
                  </md-input-container>
				  <md-input-container class="md-block" flex=10>
					  <label>Enter Grade</label>
	                  <input name="enter_grade" type="number" ng-model="student.enter_grade" min="9" max="12" required>
				  </md-input-container>
				  <md-input-container class="md-block" flex=20>
					  <label>Enter date</label>
	                  <md-datepicker ng-model="student.enter_date" required>
	                  </md-datepicker>
				  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>First name</label>
                    <input ng-model="student.lastname" required>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Last name</label>
                    <input ng-model="student.firstname" required>
                  </md-input-container>

                  <md-input-container flex=15 class="md-block" flex-gt-sm>
                    <label>Gender</label>
                    <md-select ng-model="student.gender" required>
                        <md-option value="0">
							Not Provided
						</md-option>
						<md-option value="1">
							Female
						</md-option>
						<md-option value="2">
							Male
						</md-option>
						<md-option value="3">
							Androgyne
						</md-option>
                    </md-select>
                  </md-input-container>

				  <md-input-container flex=20 class="md-block" flex-gt-sm>
					<label>Birthday</label>
					<md-datepicker ng-model="student.birthday" required>
					</md-datepicker>
				  </md-input-container>

                </div>
                <div layout-gt-sm="row">

                </div>
                <md-input-container class="md-block">
                  <label>Address</label>
                  <input ng-model="student.address1" required>
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                  <input ng-model="student.address2" placeholder="Address 2">
                </md-input-container>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>City</label>
                    <input ng-model="student.city" required>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>State</label>
                    <input ng-model="student.state" required>
                    </md-select>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Postal Code</label>
                    <input name="postalCode" ng-model="student.postal_code"
                           required ng-pattern="/^[ABCEGHJKLMNPRSTVXY][0-9][ABCEGHJKLMNPRSTVWXYZ][0-9][ABCEGHJKLMNPRSTVWXYZ][0-9]$/" md-maxlength="6">
                    <div ng-messages="studentForm.postalCode.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">You must supply a postal code.</div>
                      <div ng-message="pattern" class="my-message">That doesn't look like a valid postal code.</div>
                      <div ng-message="md-maxlength" class="my-message">
                        Don't use the long version silly...we don't need to be that specific...
                      </div>
                    </div>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Email</label>
                    <input ng-model="student.email" required>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Telephone</label>
                    <input ng-model="student.telephone" required>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>OEN/MIN</label>
                    <input ng-model="student.oen" required>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Diploma</label>
                    <input ng-model="student.diploma_text" disabled>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
					<md-button type="submit" ng-disabled="loading" class="md-primary md-raised" ng-if="edit">
						<div layout="row" ng-if="loading">
							<md-progress-circular style="margin:8px;" ng-disabled="!loading" class="md-hue-2" md-diameter="20px"></md-progress-circular>
							Saving...
						</div>
						Update Student Info
					</md-button>
					<md-button type="submit" ng-disabled="loading"class="md-primary md-raised" ng-if="!edit">
						<div layout="row" ng-if="loading">
							<md-progress-circular style="margin:8px;" ng-disabled="!loading" class="md-hue-2" md-diameter="20px"></md-progress-circular>
							Saving...
						</div>
						<span ng-if="!loading">Register New Student</span>
					</md-button>
                </div>
              </form>
        </md-content>
      </md-tab>
      <md-tab ng-if="edit" label="Course Selection">
        <md-content class="md-padding">
			<table ng-table="studentCourseSelectionTable" class="mdl-data-table mdl-data-table--selectable  school-office-main-table">
				<tr ng-repeat="selection in $data">
 					<td title="'Grade'" filter="{ name: 'number'}" sortable="'grade'">
						{{selection.grade}}
					</td>
					<td title="'Course Code'" filter="{ code: 'text'}" sortable="'code'">
						{{selection.code}}
					</td>
					<td title="'Course Name'" filter="{ name: 'text'}" sortable="'name'">
						{{selection.name}}
					</td>
					<td title="'Course Credit'" filter="{ credit: 'number'}" sortable="'credit'">
						{{selection.credit}}
					</td>
					<td title="'Semester'" filter="{ semester: 'text'}" sortable="'semester'">
						{{selection.semester}}
					</td>
					<td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
						{{selection.status_text}}
					</td>
					<td>
						<md-button class="md-raised md-warn" ng-disabled="!loading"  ng-if="selection.status==0">Reject</md-button>
						<md-button class="md-raised md-warn" ng-disabled="loading" ng-if="selection.status==1" ng-click="drop(selection)">Drop</md-button>
					</td>
				</tr>
			</table>
            <div layout="row">
                <md-button class="md-raised md-primary" ng-disabled="!selectedSemester" ng-click="openCourseSelection(selectedSemester)">
                    Select a course for this student For
                </md-button>
                <md-select ng-model="selectedSemester">
                    <md-option ng-repeat="semester in semesters" ng-value="semester">{{semester.semester}}</md-option>
                </md-select>
            </div>
        </md-content>
      </md-tab>
      <md-tab ng-if="edit" label="Transcripts">
        <md-content class="md-padding">

        </md-content>
      </md-tab>
    </md-tabs>
</md-content>
