<md-content class="md-padding" layout-xs="column" layout="column">
	<div layout="row">
		<h3>What do you want to do today ?</h3>
	</div>
	<div layout="row">
		<div flex=25>
			<md-card class="mdl-color--green-100">
				<md-card-title>
				    <md-card-title-text>
				        <span class="md-headline">Regsiter</span>
				        <span class="md-subhead">a new student</span>
				    </md-card-title-text>
				    <md-card-title-media>
						<div class="md-media-sm card-media">
							<md-icon md-font-icon="material-icons">face</md-icon>
						</div>
					</md-card-title-media>
				</md-card-title>
			</md-card>
		</div>
		<div flex>
			
		</div>
	</div>
</md-content>